*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:sans-serif;
}

.nav{
	position:fixed;
	top:0;
	z-index:10;
	width:100%;
	border-bottom:3px solid #fab915;
}
.carosal{
	position:relative;
}
.carosal::after{
	content:"";
	position:absolute;
	width:100%;
	background:linear-gradient(#00000087,#00000087);
	height:100%;
	left:0;
	bottom:0;
	top:0;
	z-index:0;
}
.carosal-first{
	z-index:3;
}
.w-100{
	width:100% !important;
	height:100vh;
}
.section{
	margin-top:5rem;
}
.first {
	padding-bottom:20rem;
	width:100%;
	
}
.first-button{
	padding:10 50px;
}

.firstc {
	padding-bottom:23rem;
}
.first h1 {
	    font-size: 5em;
    font-weight: bold;
}
.firstc h1 {
	    font-size: 5em;
    font-weight: bold;
}
.first p{
	    font-size: 22px;
    line-height: 30px;
}
.firstc p{
	    font-size: 22px;
    line-height: 30px;
}
.firstla h1 {
	    font-size: 5em;
    font-weight: bold;
}

.firstla{
	padding-bottom:20rem;
}
.firstla p{
	    font-size: 22px;
    line-height: 30px;
}

.boots-1 .card{
	display:flex;
	justify-content:center;
	align-items:center;
}
.service{
	background:linear-gradient(#cacad200,#9e9e9e00),url(image/jcp.jpg);
	background-attachment:scroll;
	background-position:center;
	background-size:cover;
	margin-top:6rem;
}
.service .card-body h1::after{
		position:absolute;
	content:"";
	width:97%;
	top:160;
	left:15px;
	border:1px solid #fab915;
}
.black .black-first{
	background-color:#000000;
}
.black .black-second{
	background-color:#1a1a1a;
}
.black .black-thired{
	background-color:#262626;
}
.black .black-four{
	background-color:#333333;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.hole:hover{
	color:white;
}
.black .card i{
	display:flex;
	justify-content:center;
	align-items:center;
}
.black .hp h1::after{
		position:absolute;
	content:"";
	width:50px;
	top:120;
	left:42%;
	border:1px solid grey;
}
.contact ul li{
	list-style:none;
	color:grey;
	
	
}


.hole:hover .icon i {
	
	color:#fff !important;
	cursor:pointer;
}
.hole:hover h1{

	color:#fff !important;
	cursor:pointer;
}
.hole:hover p{
	
	color:#fff !important;
	cursor:pointer;
}
.blogs .card-body h5:hover{
	color:#fab915;
}
.ri{
	padding-left:8rem;
}
.ri a{
	text-decoration:none;
	color:grey;
}
.quote i{
	font-size:5rem;
}
.three-carosal{
	padding:4rem;
}
.three-carosal .container{
	width:50%;
	margin:0 auto;
}
.three-carosal .carousel-item h3{
	padding-top:2rem;
}
.three-carosal .carousel-item p{
	padding-top:2rem;
}

.three-carosal .carousel-item h5{
	padding-bottom:1rem;
}
.circle-1{
		position:relative;
		}
.num-flex{
		position:absolute;
		top:30px;
		left:75px;
		}
.circle-center{
	padding:20px;
}

.work{
	margin-top:5rem;
}
.work .col-12{
	padding-top:3rem;
}
.work .work-nav li{
	list-style:none;
}
.work .work-nav{
	display:flex;
	justify-content:center;
	align-items:center;
}
.work .work-img img{
	max-width:100%;
}
.work .work-img{
	margin-bottom:20px;
	overflow:hidden;
	
}
.work .work-img:hover img{
	transform:scale(1.2);
	transition:1s ease;
}
.work .work-img{
	position:relative;
	
}
.work .work-img .hp{
	position:absolute;
	bottom:30px;
	opacity:0;
	
}
.work .hp{
	display:flex;
	justify-content:center;
	align-items:end;
}
.work .work-img:hover  .hp{
	opacity:1;
	background:linear-gradient(#3d444596,#06060538);
    transform:translateY(-2px);
	transition:500ms linear;
	bottom:0;
	width:100%;
	height:100%;
   	
	
	
}
.work .hp h3{
	color:white;
}
.work .hp h6{
	color:yellow;
}

#team .team-icon i{
	height:30px;
	width:30px;
	border-radius:50%;
	
}
#team .card:hover .team-icon i{
	color:black;
	background-color:#fab915;
}
.team-p {
	font-size:15px;
}
.contact .list li{
	display:inline;
}
.contact .logo img{
	width:90px;
	height:80px;
	padding-bottom:1rem;
}
.contact{
	margin-top:5%;
	border-top:3px solid #fab915;
}
.contact .mail input {
	padding:10px 55px;
	background-color:#808080;
	
}
.contact .contact-icon i:hover{
	color:white;
	transition:1s ease;
}


@media (min-width:320px){
	.work .work-nav{
		display:flex;
		flex-direction:column;
	}
	.contact .con{
		text-align:center;
	}
	.contact .mail-form{
		text-align:center;
	}
	.contact .center{
		text-align:center;
	}
	.blogs .ipri{
	width:100%;
}

.blogs .col-12{
	width:100%;
}
#team .col-12{
	width:100%;
}
.num-flex{
	position:absolute;
	top:34px;
	left:calc(50% - 20px)
}

.three-carosal .container {
    width: 100%;
    margin: 0 auto;
}
.w-100{
	
	height:200vh;
}
.first h1 {
	    font-size:2em;
    font-weight: bold;
	
}
.firstc h1 {
	    font-size:2em;
    font-weight: bold;

	
}
.firstla h1 {
	    font-size:2em;
    font-weight: bold;
}
}
@media (min-width:720px){
	.work .work-nav{
		display:flex;
		flex-direction:row;
	}
	.contact .con{
		text-align:center;
	}
	.contact .center{
		text-align:center;
	}
	.contact .mail-form{
		text-align:center;
	}
	.blogs .container{
	width:100%;
}
.blogs .col-12{
	width:50%;
}
#team .col-12{
	width:50%;
}
.three-carosal .container {
    width: 100%;
    margin: 0 auto;
}
.w-100{
	height:170vh;
}
.first h1 {
	    font-size: 4em;
    font-weight: bold;
}
.firstc h1 {
	    font-size: 4em;
    font-weight: bold;
}
.firstla h1 {
	    font-size: 4em;
    font-weight: bold;
}
}

@media (min-width:1020px){
		.contact .con{
		text-align:inherit;
	}
	.contact .center{
		text-align:center;
	}
	.contact .mail-form{
		text-align:inherit;
	}
	.blogs .container{
	width:100%;
}
.blogs .col-12{
	width:33.3%;
}
#team .col-12{
	width:33.3%;
}
.three-carosal .container {
    width: 70%;
    margin: 0 auto;
}
.w-100{

	height:140vh;
}
.first h1 {
	    font-size: 5em;
    font-weight: bold;
}
.firstc h1 {
	    font-size: 5em;
    font-weight: bold;
}
.firstla h1 {
	    font-size: 5em;
    font-weight: bold;
}
}